doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    title= _path
    != css()

  body
    .canvas
      .header
        a(href='/').title service monitor
        .navigation
          a(href='/about.html').subtitle about    
    
      block content

    != js()

script.
  $(document).click(function (e) {
      if ($(e.target).is('.modal')) {
          $('.modal').fadeOut(500);
      }
  });
